.services {
  background-image: image-set(
      url('../../images/mobile/border_servise_1x.png') 1x,
      url('../../images//mobile/border_servise_2x.png') 2x
    ),
    url('../../images/mobile/Bg.png');
  background-repeat: no-repeat;
  width: 480px;
  margin: 0 auto;
}

.servicesWrapper {
  display: flex;
  flex-direction: column;
  padding: 84px 0px;
  align-items: center;
}
.servicesText {
  font-size: 11px;
  text-transform: uppercase;
  color: var(--secondary-grey-9DA4BD);
  opacity: 60%;
  margin-bottom: 20px;
  position: relative;
}
.servicesText::after {
  content: '';
  position: absolute;
  top: 45%;
  left: 0;
  transform: translateX(-80px);
  width: 60px;
  height: 1px;
  background-color: var(--secondary-grey-9DA4BD);
  opacity: 60%;
}
.sercesTitle {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.05em;
  font-family: var(--secondary-font-Raleway);
  margin-bottom: 44px;
  color: var(--white-color-FFFFFF);
}
.serviceListBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.servicesList {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 30px 20px 30px 40px;
}
.servicesList.top {
  padding-bottom: 10px;
}
.servicesList.botton {
  padding-top: 10px;
}
.servicesItem {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
}
.itamTextOne {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: var(--secondary-grey-9DA4BD);
}
.itemTextSpan {
  display: inline-block;
  margin-top: auto;
  margin-bottom: 5px;
  flex-grow: 1;
  height: 1px;
  background-color: var(--secondary-grey-9DA4BD);
  opacity: 12%;
}

.itamTextTwo {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: var(--secondary-grey-9DA4BD);
}
.servicesBtn {
  padding: 12px 20px;
  border-radius: 25px;
  border: 1px solid var(--border-color-FF6C00);
  background-color: inherit;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  width: 160px;
  color: var(--white-color-FFFFFF);
}
.servicesBtn:hover,
.servicesBtn:focus {
  background-color: var(--border-color-FF6C00);
  transition-duration: var(--my-transition-duration);
  transition-timing-function: var(--my-transition-timing-function);
  transition-delay: var(--my-transition-delay);
}
@media (min-width: 768px) {
  .about {
    max-width: 768px;
    margin: 0 auto;
  }
  .services {
    background-image: image-set(
        url(../../images/tablet/from_1x.png) 1x,
        url('../../images/tablet/from_2x.png') 2x
      ),
      url('../../images/tablet/Bg_from.png');
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    width: 768px;
    height: 856px;
  }

  .servicesWrapper {
    padding: 100px 0;
  }

  .servicesList {
    width: 703px;
  }
  .itamTextOne {
    font-size: 18px;
    line-height: 167%;
  }
  .itemTextSpan {
    font-size: 18px;
    line-height: 167%;
  }
}

@media (min-width: 1600px) {
  .about {
    max-width: 1600px;
    margin: 0 auto;
  }
  .services {
    background-image: image-set(
        url('../../images/desctop/from_1x.png') 1x,
        url('../../images/desctop/from_2x.png') 2x
      ),
      url('../../images/desctop/Bg_from.png');
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    width: 1600px;
    height: 692px;
  }
  .servicesWrapper {
    padding: 120px 0;
  }
  .servicesText {
    margin-right: auto;
  }
  .sercesTitle {
    margin-right: auto;
  }
  .serviceListBox {
    display: flex;
    flex-direction: row;
    gap: 30px;
    background: none;
  }
  .servicesList {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .servicesBtn {
    width: 160px;
  }
}
