.latinWrapper {
  padding: 84px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.latinText {
  font-size: 11px;
  margin-bottom: 71px;
  text-align: left;
  padding-left: 20px;
  position: relative;
  margin-right: auto;
  margin-left: 80px;
}

.latinText::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-115%);
  width: 60px;
  height: 1px;
  background-color: var(--primary-font-color-303030);
}
.latinList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.latinImg {
  width: 418px;
  height: 360px;
}
@media (min-width: 768px) {
  .about {
    max-width: 768px;
    margin: 0 auto;
  }
  .latinWrapper {
    padding-top: 100px;
    padding-bottom: 106px;
    max-width: 690px;
  }
  .latinList {
    flex-direction: row;
    flex-wrap: wrap;
    width: 690px;
  }
  .latinImg {
    width: 330px;
    height: 360px;
  }
  .latinText {
    margin-bottom: 44px;
  }
}
@media (min-width: 1600px) {
  .about {
    max-width: 1600px;
    margin: 0 auto;
  }
  .latinWrapper {
    padding-top: 120px;
    padding-bottom: 129px;
  }
  .latinList {
    flex-wrap: nowrap;
    width: 1170px;
  }
  .latinImg {
    width: 270px;
    /* height: 360px; */
  }
}
