.contacts {
  background-image: image-set(
      url('../../images/mobile/footer_bg1x.png') 1x,
      url('../../images//mobile/footer_bg2x.png') 2x
    ),
    url('../../images/mobile/Bg_footer.png');
}

.contactsWrapper {
  padding: 84px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactsTitle {
  font-size: 42px;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: var(--white-color-FFFFFF);
  margin-bottom: 40px;
}
.contactsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 44px;
}
.contactsItem {
  display: flex;
  gap: 16px;
}
.contactsData {
  font-size: 18px;
  letter-spacing: 0.02em;
  font-weight: 700;
  line-height: 167%;
  color: var(--secondary-grey-9DA4BD);
}
.contactsWork {
  font-size: 11px;
  text-transform: uppercase;
  color: var(--white-color-FFFFFF);
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-right: 70px;
  display: inline-block;
}
.contactsWork::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transform: translateX(-110%);
  width: 60px;
  height: 1px;
  background-color: var(--secondary-grey-9DA4BD);
  opacity: 40%;
}
.contactsTime {
  font-size: 18px;
  letter-spacing: 0.02em;
  font-weight: 400;
  line-height: 167%;
  color: var(--secondary-grey-9DA4BD);
}
